{% trans_default_domain 'articms' %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{page_title |default('Articms')}}</title>
		<link href="{{ asset( 'css/bootstrap.min.css' ) }}" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- Toastr style -->
		<link href="{{ asset( 'css/plugins/toastr/toastr.min.css' )}}" rel="stylesheet">
		<!-- Gritter -->
		<link href="{{ asset( 'css/animate.css' )}}" rel="stylesheet">
		<link href="{{ asset( 'css/style.css' )}}" rel="stylesheet">
		{% block page_css %}
		{% endblock page_css %}
	</head>
	<body>
		<div id="wrapper">
			<!-- inizio include ... -->
			{% include 'ViewBundle:Default:menu/nav.html.twig' %}
			<!-- fine include ... -->

			<!-- inizio body ... -->
			{% block body %}

				<div id="page-wrapper" class="gray-bg dashbard-1">
					<div class="row border-bottom">
						{% include 'ViewBundle:Default:menu/topbar.html.twig' %}
					</div>
					<div class="row">

						<!-- Content block -->
						<div class="col-lg-12">
							<div class="wrapper wrapper-content">
								
								{% block content %}
								{% endblock content %}
							</div>
							<div class="footer">
{#								<div class="pull-right">
									10GB of <strong>250GB</strong> Free.
								</div>#}
								<div>
									<strong>Copyright</strong> We\Go &copy; 2016
								</div>
							</div>
						</div>
						<!-- End content block -->
					</div>

				</div>

			{% endblock body %}
			<!-- fine body ... -->
			<div class="small-chat-box fadeInRight animated">

				<div class="heading" draggable="true">
					<small class="chat-date pull-right">
						02.19.2015
					</small>
					Small chat
				</div>

				<div class="content">

					<div class="left">
						<div class="author-name">
							Monica Jackson <small class="chat-date">
								10:02 am
							</small>
						</div>
						<div class="chat-message active">
							Lorem Ipsum is simply dummy text input.
						</div>

					</div>
					<div class="right">
						<div class="author-name">
							Mick Smith
							<small class="chat-date">
								11:24 am
							</small>
						</div>
						<div class="chat-message">
							Lorem Ipsum is simpl.
						</div>
					</div>
					<div class="left">
						<div class="author-name">
							Alice Novak
							<small class="chat-date">
								08:45 pm
							</small>
						</div>
						<div class="chat-message active">
							Check this stock char.
						</div>
					</div>
					<div class="right">
						<div class="author-name">
							Anna Lamson
							<small class="chat-date">
								11:24 am
							</small>
						</div>
						<div class="chat-message">
							The standard chunk of Lorem Ipsum
						</div>
					</div>
					<div class="left">
						<div class="author-name">
							Mick Lane
							<small class="chat-date">
								08:45 pm
							</small>
						</div>
						<div class="chat-message active">
							I belive that. Lorem Ipsum is simply dummy text.
						</div>
					</div>


				</div>
				<div class="form-chat">
					<div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
								class="btn btn-primary" type="button">Send
							</button> </span></div>
				</div>

			</div>
			<div id="small-chat">

				<span class="badge badge-warning pull-right">5</span>
				<a class="open-small-chat">
					<i class="fa fa-comments"></i>

				</a>
			</div>

			<!-- Right sidebar -->
			{% include 'ViewBundle:Default:components/right-side.html.twig' %}
			<!-- End Right sidebar -->
		</div>

		<!-- Mainly scripts -->
		<script src="{{ asset( 'js/jquery-2.1.1.js') }}"></script>
		<script src="{{ asset( 'js/bootstrap.min.js') }}"></script>
		<script src="{{ asset( 'js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
		<script src="{{ asset( 'js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

		<!-- Toastr -->
		<script src="{{ asset( 'js/plugins/toastr/toastr.min.js') }}"></script>

		<!-- Custom and plugin javascript -->
		<script src="{{ asset( 'js/inspinia.js') }}"></script>
		<script src="{{ asset( 'js/plugins/pace/pace.min.js') }}"></script>

		{% block page_js %}{% endblock %}
	</body>
</html>
