{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
	
	<h1>DataBundle\Entity\{{entity_name}}</h1>
	
	<ul>
	{% for key, value in fields %} 
		<li><b>{{ value }}</b></li>
	{% endfor %}
	</ul>
{% endblock %}