{% extends 'ViewBundle:Default:base.html.twig' %}

{% block page_css %}{% endblock %}

{% block content %}
	
	<!-- Questo è un commento html, mantenuto nella pagina generata -->
	{#	Questo è un commento twig, rimosso nella pagina generata #}
	
	<div class="col-lg-12">
		<ul>
			<li>app.user.username = {{ app.user.username }}</li>
			<li>app.request.locale = {{ app.request.locale }}</li>
			<li>app.request.method = {{ app.request.method }}</li>
		</ul>
	</div>

{% endblock %}

{% block page_js %}{% endblock %}