{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
	
	Ciao {{username}}<br>
	
	<ul>
		<li>{{nation.id}}</li>
		<li>{{nation.isoCode}}</li>
		<li>{{nation.verboseName}}</li>
	</ul>

	<ol>
		{% for l in nation.languages %}
			<li>{{l.id}}</li>
			<li>{{l.isoCode}}</li>
			<li>{{l.name}}</li>
		{% endfor %}
	</ol>
{% endblock %}