{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Translation list</h5>
			</div>
			<div class="ibox-content">

				<table>
					<thead>
						<tr>
							<th>Id</th>
							<th>Languageisocode</th>
							<th>Domain</th>
							<th>Languagetoken</th>
							<th>Translation</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for translation in translations %}
						<tr>
							<td><a href="{{ path('admin_translations_show', { 'id': translation.id }) }}">{{ translation.id }}</a></td>
							<td>{{ translation.languageIsoCode }}</td>
							<td>{{ translation.domain }}</td>
							<td>{{ translation.languageToken }}</td>
							<td>{{ translation.translation }}</td>
							<td>
								<ul>
									<li>
										<a href="{{ path('admin_translations_show', { 'id': translation.id }) }}">show</a>
									</li>
									<li>
										<a href="{{ path('admin_translations_edit', { 'id': translation.id }) }}">edit</a>
									</li>
								</ul>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>


				<ul>
						<li>
							<a href="{{ path('admin_translations_new') }}">Create a new entry</a>
						</li>
					</ul>			</div>
		</div>
	</div>
</div>
{% endblock %}
