{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
    <h1>Translation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ translation.id }}</td>
            </tr>
            <tr>
                <th>Languageisocode</th>
                <td>{{ translation.languageIsoCode }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ translation.domain }}</td>
            </tr>
            <tr>
                <th>Languagetoken</th>
                <td>{{ translation.languageToken }}</td>
            </tr>
            <tr>
                <th>Translation</th>
                <td>{{ translation.translation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_translations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_translations_edit', { 'id': translation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
