{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
    <h1>Content Type list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contentType in contentTypes %}
            <tr>
                <td><a href="{{ path('admin_content-type_show', { 'id': contentType.id }) }}">{{ contentType.id }}</a></td>
                <td>{{ contentType.name }}</td>
                <td>{{ contentType.description }}</td>
                <td>{{ contentType.slug }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_content-type_show', { 'id': contentType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_content-type_edit', { 'id': contentType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_content-type_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
