{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
    <h1>ContentType</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contentType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contentType.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contentType.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ contentType.slug }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_content-type_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_content-type_edit', { 'id': contentType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
