{# Resources/views/Form/form_div_layout.html.twig #}
{% extends 'bootstrap_3_horizontal_layout.html.twig' %}
{# ... located @ /vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_horizontal_layout.html.twig #}
{%- block form_row -%}

<div class="form-group{% if form_errors(form)|length>0 %} has-error{% endif %}">
	{{ form_label(form,null,{'label_attr':{'class':'col-lg-2 control-label'}}) }}
	{% set attr = attr|merge({class: (attr.class|default('form-control'))|trim}) -%}
	<div class="col-sm-10">
		{{ form_widget(form,{ 'attr': attr }) }}
		{{ form_errors(form) }}
	</div>
</div>
<div class="hr-line-dashed"></div>
{%- endblock -%}


{%- block form_start -%}

<div class="ibox float-e-margins">
	{% if (form_title is defined) and (form_title|length>0) %}
		<div class="ibox-title">
			<h5>{{ form_title|default('') }}
				{% if (form_help is defined) and (form_help|length>0) %}
					<small>{{ form_help|default('') }}</small>
				{% endif %}
			</h5>

		</div>
	{% endif %}
	<div class="ibox-content">
		{{ parent(attr) }}
{%- endblock -%}


{%- block form_end -%}
		{{ parent() }}
	</div>
</div>

{%- endblock -%}


{%- block button_row -%}
<div class="form-group">
	<div class="col-sm-4 col-sm-offset-2">
		{{- form_widget(form) -}}
	</div>
</div>
{%- endblock button_row -%}


{#Blocco per radiobutton di choice expanded#}
{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') -%}
        <div class="control-group">
            {%- for child in form %}
			{{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            {% endfor -%}
			</div>
			{%- else -%}
			<div {{ block('widget_container_attributes') }}>
				{%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
				{% endfor -%}
				</div>
				{%- endif %}
				{%- endblock choice_widget_expanded %}


				{% block date_widget -%}
					{% if widget == 'single_text' %}
						{{- block('form_widget_simple') -}}
					{% else -%}
						{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
						{% if datetime is not defined or not datetime -%}
							<div {{ block('widget_container_attributes') -}}>
								{%- endif %}
								{{- date_pattern|replace({
                '{{ year }}': form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}': form_widget(form.day),
            })|raw -}}
								{% if datetime is not defined or not datetime -%}
								</div>
								{%- endif -%}
							{% endif %}
							{%- endblock date_widget %}