{% block extends %}
{{ "{% extends 'ViewBundle:Default:base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}
    <h1>{{ entity }} edit</h1>

    {{ '{{ form_start(edit_form) }}' }}
        {{ '{{ form_widget(edit_form) }}' }}
        <input type="submit" value="{{ '{{ "form.save_changes" | trans }}' }}" />
    {{ '{{ form_end(edit_form) }}' }}

{% set hide_edit, hide_delete = true, false %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
