{% block extends %}
{{ "{% extends 'ViewBundle:Default:base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}
    <h1>{{ entity }} creation</h1>

    {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}
        <input type="submit" value="Create" />
    {{ '{{ form_end(form) }}' }}

{% set hide_edit, hide_delete = true, true %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
