{% extends 'ViewBundle:Default:base.html.twig' %}
	

{% block page_css %}
    <!-- Data Tables -->
    <link href="{{ asset( 'css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset( 'css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset( 'css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
{% endblock page_css %}

{% block content %}
    <h1>Content list</h1>

    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
				<th>Title</th>
				<th>Subtitle</th>
				<th>Slug</th>
				
                <th>Active</th>
                <th>Highlight</th>
                <th>Home</th>
				
                <th>Created on</th>
                <th>Updated on</th>
                <th>Created by</th>
                <th>Updated by</th>
				<th>Translations</th>
				<th>Actions</th>
            </tr>
        </thead>
        <tbody>
			{% for couple in contents %}
				{% set content = couple[0] %}
				{% set translations = couple[1] %}
				<tr>
					<td><a href="{{ path('admin_content_show', { 'id': content.id }) }}">{{ content.id }}</a></td>
					<td>{{ content.title }}</td>
					<td>{{ content.subtitle }}</td>
					<td>{{ content.slug }}</td>
					<td>{% if content.active %}Yes{% else %}No{% endif %}</td>
					<td>{% if content.highlight %}Yes{% else %}No{% endif %}</td>
					<td>{% if content.home %}Yes{% else %}No{% endif %}</td>
					
					<td>{{ content.createdOn  | date('d m Y h:i:s')  }}</td>
					<td>{{ content.updatedOn  | date('d m Y h:i:s')  }}</td>
					<td>{{ content.createdBy }}</td>
					<td>{{ content.updatedBy }}</td>
					<td>
						<ul>
						{% for t in translations %}
							<li>{{ t }}</li>
						{% endfor %}
						</ul>
					</td>
					<td>
						<ul>
							<li>
								<a href="{{ path('admin_content_show', { 'id': content.id }) }}">show</a>
							</li>
							<li>
								<a href="{{ path('admin_content_edit', { 'id': content.id }) }}">edit</a>
							</li>
						</ul>
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_content_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}

{% block page_js %}
	<!-- Data Tables -->
    <script src="{{ asset('js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('js/plugins/dataTables/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('js/plugins/dataTables/dataTables.tableTools.min.js') }}"></script>
	<script>
		$(document).ready(function () {
			$('.dataTables-example').dataTable({
				responsive: true,
				"dom": 'T<"clear">lfrtip'
				,"tableTools": {
					"sSwfPath": "{{ asset('js/plugins/dataTables/swf/copy_csv_xls_pdf.swf') }}"
				}
			});
		});
	</script>
{% endblock %}