{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
    <h1>Content</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{{ content.createdOn | date('d m Y h:i:s')  }}</td>
            </tr>
            <tr>
                <th>Updatedon</th>
                <td>{{ content.updatedOn | date('d m Y h:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ content.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ content.updatedBy }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if content.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Highlight</th>
                <td>{% if content.highlight %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Home</th>
                <td>{% if content.home %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ content.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ content.subtitle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ content.slug }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ content.body }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_content_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_content_edit', { 'id': content.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
