{% extends 'base.html.twig' %}

{% block body %}
    <h1>Permission list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Canread</th>
                <th>Cancreate</th>
                <th>Canupdate</th>
                <th>Candelete</th>
                <th>Canreadown</th>
                <th>Canudateown</th>
                <th>Candeleteown</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td><a href="{{ path('admin_permission_show', { 'id': permission.id }) }}">{{ permission.id }}</a></td>
                <td>{{ permission.role }}</td>
                <td>{% if permission.canRead %}Yes{% else %}No{% endif %}</td>
                <td>{% if permission.canCreate %}Yes{% else %}No{% endif %}</td>
                <td>{% if permission.canUpdate %}Yes{% else %}No{% endif %}</td>
                <td>{% if permission.canDelete %}Yes{% else %}No{% endif %}</td>
                <td>{% if permission.canReadOwn %}Yes{% else %}No{% endif %}</td>
                <td>{% if permission.canUdateOwn %}Yes{% else %}No{% endif %}</td>
                <td>{% if permission.canDeleteOwn %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_permission_show', { 'id': permission.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_permission_edit', { 'id': permission.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_permission_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
