{% extends 'ViewBundle:Default:base.html.twig' %}

{% block content %}
    <h1>Permission creation</h1>

    {{ form_start(form,{attr:{"data-price":"2",class:'pippo'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_permission_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
