{% extends 'base.html.twig' %}

{% block body %}
    <h1>Permission</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ permission.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ permission.role }}</td>
            </tr>
            <tr>
                <th>Canread</th>
                <td>{% if permission.canRead %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cancreate</th>
                <td>{% if permission.canCreate %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Canupdate</th>
                <td>{% if permission.canUpdate %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Candelete</th>
                <td>{% if permission.canDelete %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Canreadown</th>
                <td>{% if permission.canReadOwn %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Canudateown</th>
                <td>{% if permission.canUdateOwn %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Candeleteown</th>
                <td>{% if permission.canDeleteOwn %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_permission_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_permission_edit', { 'id': permission.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
